// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h1 {
  text-align:center;
  font-size: 45px;
  font-style: oblique;
  color: #00ffbf;
  
}

h2 {
  text-align:center;
  font-size: 25px;
  font-style: oblique;
  color: #0000ff;
  
}

p{
  text-align:center;
}

.centerimg{
  transform: translate(25%, 5%);
}